/Server/Framework/Server.Frame/obj
/Server/Framework/Giant.Net/obj
/Server/Framework/Giant.Msg/obj
/Server/Giant.Redis/obj
/Server/Giant.Script/obj
/Server/Giant.Util/obj
/Server/Server.Account/obj
/Server/Server.Gate/obj
/Server/Server.Global/obj
/Server/Giant.Msg/obj
/Server/.vs/Giant
/Server/Server.Zone/obj
/Server/Server.Relation/obj
/Server/Server.Manager/obj
/Server/Giant.Net/obj
/Server/Giant.Model/obj
/Server/Giant.Log/obj
/Server/Giant.Framework/obj
/Server/Giant.DB/obj
/Server/Giant.Core/obj
/Server/Giant.Battle/obj
/Tools/Tools/Giant.Test/obj/Release/netstandard2.1
/Tools/SqlGenerator/obj/Release/netcoreapp3.1
/Tools/Robot/Robot/obj/Release/netcoreapp3.0
/Tools/Proto/Proto2CS/obj/Release
/.vs
/Bin/net5.0/runtimes
/Bin/net5.0/ref
/Tools/Tools/Giant.Test/obj/Debug/netstandard2.1
/Tools/SqlGenerator/obj/Debug/netcoreapp3.1
/Tools/Robot/Robot/obj/Debug/netcoreapp3.0
/Tools/Proto/Proto2CS/obj/Debug
